<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% load static%}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'indice'%}">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'bienvenido'%}">Bienvenido</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'acerca'%}">Acerca</a></li>
                            </ul>
                    
                    {% if user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{user.username}}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                               
                                <form action="{% url 'logout'%}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">salir</button>
                                </form>
                            </ul>
                        </div>
                    {% else %}
                        <a class="nav-link" href="{% url 'registro'%}">crea tu cuenta    |  </a>
                        <a class="nav-link" href="{% url 'login'%}">| entra a tu cuenta</a>
                    {% endif %}
                        
                </div>
            </div>
        </nav>
</body>
</html>