{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
        <h1>Acerca de</h1>
        <h2>Nuestra Misión: Endulzar tus Momentos con Flan</h2>
        <p>En nuestro negocio de flanes artesanales, nuestra finalidad va más allá de simplemente vender un postre. Nuestra misión es crear una experiencia dulce y memorable, ofreciendo flanes elaborados con dedicación y los mejores ingredientes. Creemos que la comida tiene el poder de conectar a las personas y de crear momentos especiales, y cada flan que preparamos es una prueba de ello.

Para Nuestros Clientes Generales
Nos dirigimos a ti que buscas un postre delicioso y auténtico. Nuestro objetivo es ser la opción perfecta para ese antojo de media tarde, el postre de tu comida familiar del domingo, o el toque final en una celebración con amigos. Te ofrecemos una variedad de flanes clásicos y de sabores innovadores, todos con una textura suave y un sabor inconfundible que te recordará a los postres caseros de toda la vida. Queremos que el acceso a un flan de calidad sea fácil y que cada bocado te traiga una sonrisa.

Para Nuestros Clientes VIP
Entendemos que la excelencia es un estándar que merece un trato especial. Para nuestros clientes VIP, ofrecemos una experiencia personalizada y exclusiva. Nuestra finalidad es deleitarte con flanes de ediciones limitadas, sabores creados especialmente para ti y la posibilidad de personalizar tus pedidos para ocasiones únicas. Ya sea que busques un flan especial para un evento corporativo, un regalo elegante o simplemente la exquisitez de un postre único, nuestro servicio VIP está diseñado para superar tus expectativas. Te ofrecemos calidad superior y un trato preferencial, asegurando que cada pedido sea una obra de arte culinaria.

En cada flan que elaboramos, ponemos todo nuestro corazón para que tú, ya seas un cliente habitual o uno de nuestros distinguidos VIP, sientas el sabor de la pasión y la calidad que nos define.</p>

    </div>

{% endblock %}
